main.main 
    .main__content-itemsAbout 
        .main__content-itemAbout 
            img.main__content-img(src="images/moxito.webp", alt="")
            .main__content-hover 
                h4.main__content-hoverTitle KITCHEN
                a.main__content-hoverLink(href="") MORE
        .main__content-itemAbout 
            img.main__content-img(src="images/fish-cake.webp", alt="")
            .main__content-hover 
                h4.main__content-hoverTitle KITCHEN
                a.main__content-hoverLink(href="") MORE
        .main__content-itemAbout 
            img.main__content-img(src="images/cake.webp", alt="")
            .main__content-hover 
                h4.main__content-hoverTitle KITCHEN
                a.main__content-hoverLink(href="") MORE
        .main__content-itemAbout 
            img.main__content-img(src="images/vine.webp", alt="")
            .main__content-hover 
                h4.main__content-hoverTitle KITCHEN
                a.main__content-hoverLink(href="") MORE