main.main
    .main__menu-firstItem
            img.main__menu-imgages(src="images/1st-meal1.webp", alt="")
            .main__menu-firstContent 
                h3.main__menu-firstTitle 1 st
                .main__menu-content 
                    ul.main__menu-ul 
                        li.main__menu-list 
                            p.main__menu-titleList CITRUS SALAD
                            p.main__menu-description Oro Blanco, Salty Sea Feta & Calamansi Vinaigrette ...................................................................... 18$
                        li.main__menu-list 
                            p.main__menu-titleList CHILLED WHITE ASPARAGUS
                            p.main__menu-description Baby Lettuces, Mussel Broth & Calabrese Chili .............................................................................. 21$
                        li.main__menu-list 
                            p.main__menu-titleList FOIE GRAS TERRINE
                            p.main__menu-description Rabbit, Carrots & Brioche .................................................................................................................. 25$
                        li.main__menu-list 
                            p.main__menu-titleList BUCATINI
                            p.main__menu-description Butter, Chili, Mussel Broth & Bottarga ............................................................................................. 15$
                        li.main__menu-list 
                            p.main__menu-titleList CHAWANMUSHI
                            p.main__menu-description Mushrooms, Jalapeño, Radish & Scallions ....................................................................................... 17$
                        li.main__menu-list 
                            p.main__menu-titleList MATZAH BALL SOUP
                            p.main__menu-description Poached Matzah Ball, Chicken Broth & Winter Vegetable ............................................................. 27$
                        li.main__menu-list 
                            p.main__menu-titleList CITRUS SALAD
                            p.main__menu-description Oro Blanco, Salty Sea Feta & Calamansi Vinaigrette ...................................................................... 18$
                        li.main__menu-list 
                            p.main__menu-titleList CHILLED WHITE ASPARAGUS
                            p.main__menu-description Baby Lettuces, Mussel Broth & Calabrese Chili .............................................................................. 21$
                        li.main__menu-list 
                            p.main__menu-titleList FOIE GRAS TERRINE
                            p.main__menu-description Rabbit, Carrots & Brioche .................................................................................................................. 25$
                        li.main__menu-list 
                            p.main__menu-titleList BUCATINI
                            p.main__menu-description Butter, Chili, Mussel Broth & Bottarga ............................................................................................. 15$
                        li.main__menu-list 
                            p.main__menu-titleList CHAWANMUSHI
                            p.main__menu-description Mushrooms, Jalapeño, Radish & Scallions ....................................................................................... 17$
                        li.main__menu-list 
                            p.main__menu-titleList MATZAH BALL SOUP
                            p.main__menu-description Poached Matzah Ball, Chicken Broth & Winter Vegetable ............................................................. 27$
    .main__menu-secondItem
            img.main__menu-imgages(src="images/2nd-meal1.webp", alt="")
            .main__menu-firstContent 
                h3.main__menu-firstTitle 2 nd
                .main__menu-content 
                    ul.main__menu-ul 
                        li.main__menu-list 
                            p.main__menu-titleList POACHED COD
                            p.main__menu-description Root Spinach, Bonji & Shellfish Beurre Blanc ................................................................................. 35$
                        li.main__menu-list 
                            p.main__menu-titleList BROWN BUTTER BASTED TURBOT
                            p.main__menu-description Terrine of  Winter Carrots & Cardamom, Carrot Citrus Emulsion ............................................. 37$
                        li.main__menu-list 
                            p.main__menu-titleList SQUAB EN CROUTE
                            p.main__menu-description Braised Shallots, Wild Mushrooms & Foie Gras .............................................................................. 35$
                        li.main__menu-list 
                            p.main__menu-titleList CRESCENT FARM DUCK
                            p.main__menu-description Confit Leg, Satsuma & Red Peshori Pistachio ................................................................................. 33$
                        li.main__menu-list 
                            p.main__menu-titleList SNAKE RIVER WAGYU COULOTTE
                            p.main__menu-description Turnips, Beets, Horseradish & Borscht Sauce ................................................................................ 45$
                        li.main__menu-list 
                            p.main__menu-titleList MILLBROOK VENISON SADDLE
                            p.main__menu-description Beluga Lentils, Braised Cabbage & Mushroom Cacciatore ........................................................... 50$
                        li.main__menu-list 
                            p.main__menu-titleList POACHED COD
                            p.main__menu-description Root Spinach, Bonji & Shellfish Beurre Blanc ................................................................................. 35$
                        li.main__menu-list 
                            p.main__menu-titleList BROWN BUTTER BASTED TURBOT
                            p.main__menu-description Terrine of  Winter Carrots & Cardamom, Carrot Citrus Emulsion ............................................. 37$
                        li.main__menu-list 
                            p.main__menu-titleList SQUAB EN CROUTE
                            p.main__menu-description Braised Shallots, Wild Mushrooms & Foie Gras .............................................................................. 35$
                        li.main__menu-list 
                            p.main__menu-titleList CRESCENT FARM DUCK
                            p.main__menu-description Confit Leg, Satsuma & Red Peshori Pistachio ................................................................................. 33$
                        li.main__menu-list 
                            p.main__menu-titleList SNAKE RIVER WAGYU COULOTTE
                            p.main__menu-description Turnips, Beets, Horseradish & Borscht Sauce ................................................................................ 45$
                        li.main__menu-list 
                            p.main__menu-titleList MILLBROOK VENISON SADDLE
                            p.main__menu-description Beluga Lentils, Braised Cabbage & Mushroom Cacciatore ........................................................... 50$
    .main__menu-thirdItem
            img.main__menu-imgages(src="images/3rd-dessert1.webp", alt="")
            .main__menu-firstContent 
                h3.main__menu-firstTitle 3 rd
                .main__menu-content 
                    ul.main__menu-ul 
                        li.main__menu-list 
                            p.main__menu-titleList OLIVE OIL CAKE
                            p.main__menu-description Satsuma & Riesling Sabayon .............................................................................................................. 21$
                        li.main__menu-list 
                            p.main__menu-titleList APPLE TARTE TATIN
                            p.main__menu-description Ginger Ice Cream & Miso .................................................................................................................... 17$
                        li.main__menu-list 
                            p.main__menu-titleList SWEET POTATO CRÈME CARAMEL 
                            p.main__menu-description Brown Butter Ice Cream & Pecans .................................................................................................... 15$
                        li.main__menu-list 
                            p.main__menu-titleList BROOKLYN BLACKOUT
                            p.main__menu-description Confit Leg, Satsuma & Red Peshori Pistachio ................................................................................ 18$
                        li.main__menu-list 
                            p.main__menu-titleList WARM DATE CAKE
                            p.main__menu-description Hazelnut Whiskey Sauce & Crème Fraîche Ice Cream .................................................................. 25$
                        li.main__menu-list 
                            p.main__menu-titleList FOUR FAT FOWL (NY)
                            p.main__menu-description Cow's Milk, Pumpkin Seed Butter & Rhubarb ............................................................................... 30$
                        li.main__menu-list 
                            p.main__menu-titleList OLIVE OIL CAKE
                            p.main__menu-description Satsuma & Riesling Sabayon .............................................................................................................. 21$
                        li.main__menu-list 
                            p.main__menu-titleList APPLE TARTE TATIN
                            p.main__menu-description Ginger Ice Cream & Miso .................................................................................................................... 17$
                        li.main__menu-list 
                            p.main__menu-titleList SWEET POTATO CRÈME CARAMEL 
                            p.main__menu-description Brown Butter Ice Cream & Pecans .................................................................................................... 15$
                        li.main__menu-list 
                            p.main__menu-titleList BROOKLYN BLACKOUT
                            p.main__menu-description Confit Leg, Satsuma & Red Peshori Pistachio ................................................................................ 18$
                        li.main__menu-list 
                            p.main__menu-titleList WARM DATE CAKE
                            p.main__menu-description Hazelnut Whiskey Sauce & Crème Fraîche Ice Cream .................................................................. 25$
                        li.main__menu-list 
                            p.main__menu-titleList FOUR FAT FOWL (NY)
                            p.main__menu-description Cow's Milk, Pumpkin Seed Butter & Rhubarb ............................................................................... 30$
