footer.footer 
    .footer__content 
        .footer__content-info
            img.footer__content-logo(src="images/logo.webp", alt="")
            .footer__content-items 
                .footer__content-item 
                        a(href="")
                            img.footer__content-icons(src="images/facebook.svg", alt="")
                        a(href="")
                            img.footer__content-icons(src="images/insta.svg", alt="")
                        a(href="")
                            img.footer__content-icons(src="images/telegram.svg", alt="")
                .footer__content-item 
                        h2.footer__content-title CONTACT
                        a.footer__content-tel(href="tel:(302) 555-0107") (302) 555-0107
                        a.footer__content-tel(href="tel:(239) 555-0108") (239) 555-0108
                        a.footer__content-tel(href="") laperle.com
                .footer__content-item 
                        h2.footer__content-title LOCATION
                        p.footer__content-description 1901 Thornridge Cir. Shiloh, Hawaii 81063 
        <iframe class="footer__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3755.8420325351008!2d-155.0781337846101!3d19.719348436557453!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x79524b5eec71161b%3A0x6561bbb934c2395d!2sWailoa%20Center!5e0!3m2!1sru!2s!4v1646296085477!5m2!1sru!2s"  width="50%" height="289" style="border:0;" allowfullscreen="" loading="lazy"></iframe>