header.header 
  .header__content  
    .header__content-toggleAbout
      span.header__img-toggle 
    button.header__content-btn 
      a.header__btn-link(href="") RESERVATION  
  .header__content-toggle 
    img.header__content-logo(src="images/logo.webp", alt="")
    ul.header__content-list 
        li: a(href="_thirdPage.html").header__content-link MENU
        li: a(href="_secondPage.html").header__content-link ABOUT
        li: a(href="index.html").header__content-link RESERVATIONS
        li: a(href="").header__content-link NEWS
        li: a(href="").header__content-link EVENTS
        li: a(href="").header__content-link CAREERS
        li: a(href="").header__content-link CONTACT
    .header__content-icons
      a(href="")
          img.header__icons-link(src="images/facebook.svg", alt="")
      a(href="")
          img.header__icons-link(src="images/insta.svg", alt="")
      a(href="")
          img.header__icons-link(src="images/telegram.svg", alt="")
    .header__content-languages 
      span.header__language-en EN
      span.header__language-ru /RU
